.header {
	background-color: #242021;
	width: 100%;
	height: 45px;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	padding: 8px 0;
	text-align: right;

  .header__number {
    color: #fff;
    font-size: 15px;
    font:Open Sans;
    width: 100%;
    margin: 7px 0 0 0;
    right: 0;
    display: inline-block;
  }

  .header__imgnumber {
    margin-top: 9px;
    display: inline-block;
  }
}

.order {
    font-size: 19px;
    font-weight: 300;
    color: #AF153B; 
    display: inline-block;
    text-decoration: underline;
    margin-left: 10px;
    margin-right:62px; 
}


